<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BANDIT</title>
    <link rel="stylesheet" href="/public/css/styles.css" />
  </head>
  <body>
    <main>
      <h1>You should always see this</h1>
      {{#if (isValidObject user)}}
        <p>you will only see this when logged in</p>
      {{else}}
        {{#if account}}{{else}}
          <a href="/users/login">Login</a>
          <a href="/users/signup">Sign Up</a>
        {{/if}}
      {{/if}}
      {{{body}}}
    </main>
    <script src="/public/js/unhideText.js"></script>
  </body>
</html>