<div class="formContainer">
  {{#if error}}
    <p>Error: {{error}}</p>
  {{/if}}
  <form id="loginForm" action="/users/login" method="POST">
    <label for="usernameInput">Enter your username</label>
    <input id="usernameInput" name="usernameInput" placeholder="username" />

    <label for="passwordInput">Enter your password</label>

    <input
      id="passwordInput"
      name="passwordInput"
      type="password"
      placeholder="password"
    />
    <button type="button" onclick="unhideTextOne()">Show Password</button>

    <input class="submit" type="submit" />
  </form>
</div>