<div class="formContainer">
  {{#if error}}
    <p>Error: {{error}}</p>
  {{/if}}
  <form id="loginForm" action="/users/login" method="POST">
    <label for="usernameInput">Username:</label>
    <input
      id="usernameInput"
      name="usernameInput"
      placeholder="username"
      required
    />

    <label for="passwordInput">Password:</label>

    <input
      id="passwordInput"
      name="passwordInput"
      type="password"
      placeholder="password"
      required
    />

    <input type="checkbox" id="showPassword" onclick="unhideTextOne()"/>
    <label for="showPassword">Show Password</label>

    <input class="submit" type="submit" value="Log In"/>
  </form>
  <script src="/public/js/validateForm.js"></script>
</div>