<div class="formContainer">
  {{#if error}}
    <p>Error: {{error}}</p>
  {{/if}}
  <form id="signupForm" action="/users/signup" method="POST">
    <label for="usernameInput">Enter your username</label>
    <input
      id="usernameInput"
      name="usernameInput"
      placeholder="username"
      required
    />

    <label for="passwordInput">Enter your password</label>
    <input
      id="passwordInput"
      name="passwordInput"
      type="password"
      placeholder="password"
      required
    />

    <label for="passwordInput">Reenter your password</label>
    <input
      id="reenterPasswordInput"
      name="reenterPasswordInput"
      type="password"
      placeholder="reenter password"
      required
    />
    <div class="checkboxContainer">
      <input type="checkbox" id="showPassword" onclick="unhideText()" />
      <label for="showPassword" class="checkboxLabel">Show Password</label>
    </div>

    <input id="birthdayInput" name="birthdayInput" type="date" required />

    <input class="submit" type="submit" />
  </form>
  <script src="/public/js/validateForm.js"></script>
</div>