<article>
    <h1>
        <p class="tile">B</p>
        <p class="tile">A</p>
        <p class="tile">N</p>
        <p class="tile">D</p>
        <p class="tile">I</p>
        <p class="tile">T</p></h1>
</article>