<p id="roomFormError" class="error" hidden></p>
<div id="gameDiv">

  <p id="gameIdDisplay">Your game ID is {{gameId}}</p>
  <p id="connected">You are not connected</p>
  <input id="gameId" value={{gameId}} />
  <input id="username" value={{user.username}} />

  <div id="gameFinishedDisplay"></div>

  <div id="gamePanels">
    <div id="leftPanel" class="panel">
      <p id="current_player_header">Current Player:</p>
      <p id="currentPlayer"></p>

      <button id="drawTileButton">Draw</button>

      <form id="guessForm">
        <input type="text" id="guessWord" autocomplete="off" />
        <input type="submit" id="guessSubmit" value="Grab!" />
      </form>
      <p id="updateRibbon"></p>
    </div>

    <div id="rightPanel" class="panel">
      <p id="tableTiles"></p>

      <p id="wordsInPlay"></p>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/js/resyncRoom.js"></script>
  <script src="/public/js/gameHandler.js"></script>

</div>

<div id="chatDiv">
  <div id="messagesDiv"></div>
  <form id="chatForm" action="javascript:void(0)">
    <input type="text" id="messageInput" placeholder="Type your message..." />
    <button type="submit">Send</button>
  </form>
  <p id="chatError" class="error"></p>

  <script src="/public/js/chat.js"></script>
</div>