<div>
  <p>The game will take place here</p>
  <p>Your game ID is {{gameId}}</p>
  <p id="connected">You are not connected</p>
  <input id="gameId" value={{gameId}} />
  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/js/resyncRoom.js"></script>
</div>