<div>
  <p>The game will take place here</p>
  <p>Your game ID is {{gameId}}</p>
  <p id="connected">You are not connected</p>
  <input id="gameId" value={{gameId}} />
  <input id="username" value={{user.username}} />

  <p>Current Player:</p>
  <p id="currentPlayer"></p>

  <p>Table Tiles:</p>
  <p id="tableTiles"></p>

  <button id="drawTileButton">Draw</button>

  <form id="guessForm">
    <input type="text" id="guessWord" />
    <input type="submit" id="guessSubmit" value="Guess"/>
  </form>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/js/resyncRoom.js"></script>
  <script src="/public/js/gameHandler.js"></script>
</div>