<div>
  <p>The game will take place here</p>
  <p>Your game ID is {{gameId}}</p>
  <p id="connected">You are not connected</p>
  <input id="gameId" value={{gameId}} />

  <p>Table Tiles:</p>
  <p id="tableTiles"></p>

  <button id="drawTileButton">Draw</button>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/js/resyncRoom.js"></script>
  <script src="/public/js/gameHandler.js"></script>
</div>