<div class="formContainer">
  {{#if error}}
    <p>Error: {{error}}</p>
  {{/if}}

  <div>
    <form id="roomForm">
      <input id="username" value={{user.username}} type="hidden" />
      <label for="passcode">Enter a passcode to join users with (optional)</label>
      <input id="passcode" name="passcode" placeholder="passcode" />

      <input class="submit" type="submit" value="Search for players!" />
    </form>

    <p id="roomStatus" display="none"></p>
    <p id="playerNumber" display="none"></p>

    <button id="startButton"> Start the game!</button>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/js/searchRoom.js"></script>
  <script src="/public/js/disconnectWarning.js"></script>
</div>