<div class="formContainer">
  {{#if error}}
    <p class="error">Error: {{error}}</p>
  {{/if}}

  <div>
    <div id="roomFormDiv">
      <p id="roomFormError" class="error" hidden></p>
      <form id="roomForm">
        <input id="username" value={{user.username}} hidden />
        <label for="passcode">Enter a passcode to join users with (optional)</label>
        <input id="passcode" name="passcode" placeholder="passcode" />

        <input class="submit" type="submit" value="Search for players!" />
      </form>
    </div>
    <p id="roomStatus" hidden></p>
    <p id="playerNumber" hidden></p>

    <button id="startButton" hidden> Start the game!</button>
    <p id="waitForHost" hidden>Waiting for the host to start the game</p>

    <div id="roomListDiv">
      <h3>List of Open Rooms</h3>
      <a id="refreshRoomList" href="javascript:void(0)">Refresh Room List</a>
      <p id="refreshStatus" hidden></p>
      <ul id="roomList" hidden></ul>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/js/searchRoom.js"></script>
</div>